<!DOCTYPE html>
<html>
<head>
  {% block head %}{% endblock %}
  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
  {% endassets %}
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <title>{% block title %}{% endblock %} - Vingle Lunch</title>
</head>
<body>
  <script type=text/javascript>
    $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  </script>
  {% assets "script" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
  <nav>
    <div class="nav-wrapper deep-orange darken-3">
      <a href="{{ url_for('index') }}" class="brand-logo" style="z-index:1001"><span style="margin: 0 1em">Vingle Coffee</span></a>
      <ul id="nav-mobile" class="right side-nav">
        <li>
          <a class="modal-trigger" onclick="toast('Remaining time to shuffle!', 4000)"><i class="material-icons left">schedule</i><span id="count_down"></span></a>
        </li>
        <li><a href="{{ url_for('new_user') }}"><i class="mdi-social-person-add left"></i>New User</a></li>
        <li><a href="{{ url_for('lunches') }}"><i class="mdi-file-folder left"></i>Past Lunches</a></li>
      </ul>
      <!-- Include this line below -->
      <a class="button-collapse" href="#" data-activates="nav-mobile" style="z-index: 1001; margin: 0 1em"><i class="mdi-navigation-menu"></i></a>
      <!-- End -->
    </div>
  </nav>
  <div id="content" class="container">{% block content %}{% endblock %}</div>
</body>
</html>
