<!DOCTYPE html>
<html>
<head>
  {% block head %}{% endblock %}
  {% assets "style" %}
  <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"></script>
  {% endassets %}
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <title>{% block title %}{% endblock %} - Vingle Lunch</title>
</head>
<body>
  {% assets "script" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
 <nav>
    <div class="nav-wrapper green darken-3">
      <a href="/" class="brand-logo">Vingle Coffee</a>
      <ul id="nav-mobile" class="right side-nav">
        <li><a href="/users/new"><i class="mdi-social-group-add left"></i>New User</a></li>
        <li><a href="/lunches"><i class="mdi-file-folder left"></i>Past Lunches</a></li>
      </ul>
      <!-- Include this line below -->
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <!-- End -->
    </div>
  </nav>
  <div id="content" class="container">{% block content %}{% endblock %}</div>
</body>
</html>
