{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <h3>Users</h3>
  <table class="bordered striped">
    <thead>
      <tr>
          <th data-field="name">Name</th>
          <th data-field="team">Team</th>
          <th data-field="eat">Eat Lunch</th>
          <th>Edit</th>
      </tr>
    </thead>
    <tbody>{% for user in users %}
      <tr>
        <td>{{ user.name }}</td>
        <td>{{ user.team.title }}</td>
        <td>{{ user.eat }}</td>
        <td><a href="/users/{{ user.id }}/edit">Edit</a></td>
      </tr>{% endfor %}
    </tbody>
  </table>        

  <h2>Teams</h2>
  <ul class="collection">
  {% for team in teams %}
    <li class="collection-item"><a href="/teams/{{ team.id }}">[{{ team.key }}] {{ team.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock %}
