{% extends "base.html" %}
{% block title %}Lunch{% endblock %}
{% block content %}
  <h3>{{ date.strftime("%Y %B %d") }}</h3>
  <div class="row" style="margin-bottom: 0">
  {% for group in groups %}
    <div class="col s12 m6">
      <ul class="card collection with-header">
        <li class="collection-header"><h5>Group {{ loop.index }}</h5></li>
    {% for user in group.users %}
        <li class="collection-item">
          <a href="{{ url_for('user', user_id=user.id) }}" class="green-text text-darken-4" style="text-transform: none">{{ user.name }}</a>
          {% if group.penalties %}<span>{{ group.penalties[loop.index - 1] }}</span>{% endif %}
          <span class="badge tooltipped" data-position="top" data-tooltip="{{ user.repr_team.title }}">{{ user.repr_team.key }}</span></li>
    {% endfor %}
      </ul>
    </div>
    {% if loop.index is divisibleby 2 %}
  </div>
  <div class="row" style="margin-bottom: 0">
    {% endif %}
  {% endfor %}
  </div>
  <div class="row">
  {% if groups_data %}
    <form method="POST" action="new">
      {{ form.csrf_token }}
      {{ form.data(value=groups_data) }}
      <div class="row right">
        <a class="btn grey waves-effect waves-light" href="new">Retry
          <i class="mdi-navigation-refresh right"></i>
        </a>
        <button class="btn waves-effect waves-light" type="submit" name="action">Accept
          <i class="mdi-content-send right"></i>
        </button>
      </div>
    </form>
  </div>
  {% endif %}
{% endblock %}
