{% extends "base.html" %}
{% block title %}{% if not team %}Home{% else %}Team {{ team.title }}{% endif %}{% endblock %}
{% block content %}
  <div class="row">
    <h3>{% if team %}{{ team.title }}{% else %}Vinglers{% endif %}</h3>
  {% if team %}
    Parent: <a href="{% if team.parent %}{{ url_for('team', team_id=team.parent.id) }}{% endif %}">{{ team.parent.title }}</a>,
    Children:
    {% for child_team in team.children %}
      <a href="{% if child_team %}{{ url_for('team', team_id=child_team.id) }}{% endif %}">{{ child_team.title }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
    <a href="{{ url_for('edit_team', team_id=team.id) }}" class="right btn waves-effect waves-light">Edit Team
    <i class="mdi-action-settings left"></i></a>
  {% endif %}
  </div>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6 center">Name</div>
          <div class="col s6 m3 center">Team</div>
          <div class="col s4 m2 center">Eat Lunch?</div>
          <div class="col s2 m1 center">Edit</div>
        </div>
      </li>
      {% for user in users %}
      <li class="collection-item">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6">{% if admin %}{{ user.gender }}{% endif %} <a href="{{ url_for('user', user_id= user.id) }}" class="green-text text-darken-4">{{ user.name }}</a></div>
        {% with user_team=team or user.repr_team %}
          <div class="col s6 m3"><a href="{% if user_team %}{{ url_for('team', team_id=user_team.id) }}{% endif %}">{{ user_team }}</a></div>
        {% endwith %}
          <div class="col s4 m2">
            <form action="{{ url_for('user_eat_api', user_id=user.id) }}">
              <input type="checkbox" id="user_eat_{{ user.id }}"{% if user.eat %} checked="checked" {% endif %} class="user_eat_box" {% if user.deactivate %}disabled="disabled" {% endif %}/>
              <label for="user_eat_{{ user.id }}" id="user_eat_label_{{ user.id }}">{% if user.eat %}Yes!{% else %}Next...{% endif %}</label>
            </form>
          </div>
          <div class="col s2 m1 center"><a href="{{ url_for('edit_user', user_id=user.id)  }}{% if admin %}?admin=true{% endif %}"><i class="tiny material-icons">mode_edit</i></a></div>
        </div>
      </li>{% endfor %}
    </ul>
    {% if not team %}<a href="{{ url_for('deactivated_users') }}" class="grey btn waves-effect waves-light">Deactivated Users</a>{% endif %}
  </div>
{% endblock %}
