{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
  <div class="row">
    <h3>{% if team %}{{ team.title }}{% else %}Vinglers{% endif %}</h3>
  {% if team %}<a href="/teams/{{ team.id }}/edit" class="right btn waves-effect waves-light">Edit Team
    <i class="mdi-action-settings left"></i></a>{% endif %}
  </div>
  <div class="row">
    <ul class="collection with-header">
      <li class="collection-header">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6 center">Name</div>
          <div class="col s6 m3 center">Team</div>
          <div class="col s4 m2 center">Eat Lunch</div>
          <div class="col s2 m1 center">Edit</div>
        </div>
      </li>
      {% for user in users %}
      <li class="collection-item">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6">{% if admin %}{{ user.gender }}{% endif %} <a href="/users/{{ user.id }}" class="green-text text-darken-4">{{ user.name }}</a></div>
          <div class="col s6 m3"><a href="/teams/{{ user.team.id }}">{{ user.team.title }}</a></div>
          <div class="col s4 m2">
            <form action="#">
              <input type="checkbox" id="user_eat_{{ user.id }}"{% if user.eat %} checked="checked" {% endif %} class="user_eat_box" {% if user.deactivate %}disabled="disabled" {% endif %}/>
              <label for="user_eat_{{ user.id }}" id="user_eat_label_{{ user.id }}">{% if user.eat %}Yes!{% else %}Next...{% endif %}</label>
            </form>
          </div>
          <div class="col s2 m1 center"><a href="/users/{{ user.id }}/edit{% if admin %}?admin=true{% endif %}"><i class="mdi-image-edit"></i></a></div>
        </div>
      </li>{% endfor %}
    </ul>
    {% if not team %}<a href="/users/deactivated" class="grey btn waves-effect waves-light">Deactivated Users</a>{% endif %}
  </div>
{% endblock %}
